<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/imagenes/pesas.jpg" alt="pesas" style="width:100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/imagenes/correr.jpg" alt="correr" style="width:100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/imagenes/fondo_gimnasio.jpg" alt="Gimnasio" style="width:100%;">
    </ng-template>
  </ngb-carousel>
</div>

<h2> NO HAY PROGRESO SIN SUFRIR</h2>
<div class="container">
<p> En nuestro gimnasio, entendemos que alcanzar tus objetivos de fitness no es solo cuestión de levantar pesas o correr kilómetros. 
  Es un viaje completo que abarca el ejercicio, la nutrición y el bienestar general. 
  Nuestro enfoque se centra en proporcionar un ambiente de apoyo y recursos completos para que alcances tus metas de manera efectiva y sostenible.</p>
</div>

<div class="row  row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/ejercicio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ejercicios</h5>
        <p class="card-text">
          En nuestras instalaciones dispondrán de las mejores y más innovadoras maquinarias, con el fin de entrenar de la mejor forma posible tu musculatura.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/comida.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dieta</h5>
        <p class="card-text">
          Todos nuestros clientes disponen de una selección de dietas personalizadas según sus objetivos e intereseses, 
          logrando así sus objetivos físicos con suma facilidad y rapidez.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/fondo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Actividades</h5>
        <p class="card-text">
          Nuestras actividades dirigidas en sala y al aire libre brindan la posibilidad de hacer deporte de una forma creativa y distinta, 
          llevando tu rendimiento al siguiente nivel.
        </p>
      </div>
    </div>
  </div>
</div>