<div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1>Lista de dietas de {{nombre}}</h1>
        <div class="list-group">
          <button *ngFor="let dieta of dietas"
            class="list-group-item list-group-item-action"
            (click)="elegirDieta(dieta)"
            [class.active]="dieta === dietaElegida">{{dieta.nombre}}</button>
        </div>
        <br>
        
      </div>
      <div class="col-md-6" *ngIf="dietaElegida">
        <app-detalle-dieta-cliente [dieta]="dietaElegida"></app-detalle-dieta-cliente>
      </div>
    </div>
  </div>
  
  
