<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{accion}} contacto</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
  </div>
  <div class="modal-body">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input class="form-control" id="nombre" [(ngModel)]="dieta.nombre" placeholder="nombre">
        <label for="descripcion">Descripcion:</label>
        <input class="form-control" id="descripcion" [(ngModel)]="dieta.descripcion" placeholder="descripcion">
        <label for="observaciones">Observaciones:</label>
        <input class="form-control" id="observaciones" [(ngModel)]="dieta.observaciones" placeholder="observacion">
        <label for="nombre">Objetivo:</label>
        <input class="form-control" id="objetivo" [(ngModel)]="dieta.objetivo" placeholder="objetivo">
        <label for="telefono">Duracion dias:</label>
        <input class="form-control" id="duracionDias" [(ngModel)]="dieta.duracionDias" placeholder="4">
        <label for="nombre">Alimentos:</label>
        <input class="form-control" id="alimentos" [(ngModel)]="dieta.alimentos" placeholder="arroz, pollo">
        <label for="nombre">Recomendaciones</label>
        <input class="form-control" id="recomendaciones" [(ngModel)]="dieta.recomendaciones" placeholder="recomendaciones">
        <label for="usuarioId">Id usuario:</label>
        <select class="form-control" id="usuarioId" [(ngModel)]="dieta.usuarioId">
        <option *ngFor="let usuario of usuariosConRolCliente" [value]="usuario.id">{{ usuario.nombre }}</option>
        </select>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="guardarDieta()">Guardar</button>
  </div>
  