
<div>
    <h1>Dieta de usuario</h1>

    <table>
        
        <thead>
            <tr><th>Desayuno</th><th>Almuerzo</th><th>Merienda</th><th>Cena</th>
        </thead>

        <tbody>
             
            <tr class="fila">
                <td class="columna">
                    <p>Arroz</p>
                    <p>100 gr</p>
                    <p>foto</p>
                    <a href=""></a>
                </td>
                <td class="columna2">col2</td>
                <td class="columna3">col3</td>
                <td class="columna4">col4</td>

            </tr>

            <tr class="fila">
                <td class="columna">
                    <p>Arroz</p>
                    <p>100 gr</p>
                    <p>foto</p>
                    <a href=""></a>
                </td>
                <td class="columna2">col2</td>
                <td class="columna3">col3</td>
                <td class="columna4">col4</td>

            </tr>

            <tr class="fila">
                <td class="columna">
                    <p>Arroz</p>
                    <p>100 gr</p>
                    <p>foto</p>
                    <a href=""></a>
                </td>
                <td class="columna2">col2</td>
                <td class="columna3">col3</td>
                <td class="columna4">col4</td>

            </tr> 

        </tbody>
    </table>
</div>