<div class="container-fluid">
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/imagenes/comida.jpg" alt="Comida" style="width:100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/imagenes/fondo.png" alt="Fondo" style="width:100%;">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/imagenes/fondo_gimnasio.jpg" alt="Gimnasio" style="width:100%;">
    </ng-template>
  </ngb-carousel>
</div>

<h2> NO HAY PROGRESO SIN SUFRIR</h2>
<div class="container">
<p> En nuestro gimnasio, entendemos que alcanzar tus objetivos de fitness no es solo cuestión de levantar pesas o correr kilómetros. 
  Es un viaje completo que abarca el ejercicio, la nutrición y el bienestar general. 
  Nuestro enfoque se centra en proporcionar un ambiente de apoyo y recursos completos para que alcances tus metas de manera efectiva y sostenible.</p>
</div>

<div class="row  row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/ejercicio.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ejercicios</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/comida.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dieta</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="assets/imagenes/fondo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Actividades</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
    </div>
  </div>
</div>