
  <div class="cabecera">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>One</button>
         
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Two</button>
         
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Three</button>
         
      </li>
      <li [ngbNavItem]="4">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            Open from outside
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            ñjgfnajlfhnañghagñaga

            gagijagijagka
            ggaojgoajga
          </div>
        </div>
      </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
