
  <div class="cabecera">

    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <button ngbNavLink>Inicio</button>
        
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>Dietas</button>
        <ng-template ngbNavContent>
          <app-dietas></app-dietas>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <button ngbNavLink>Recetas</button>
         
      </li>
      <li [ngbNavItem]="4">
        <div ngbDropdown class="d-inline-block">
          <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
             Usuario 
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            ñjgfnajlfhnañghagñaga

            gagijagijagka
            ggaojgoajga
          </div>
        </div>
      </li>
    </ul>
    
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
