body{
    font-family: 'Courier New', Courier, monospace;
}

.cabecera{
    background-color: rgb(0, 0, 0);
    position: relative; 
    
}

.cabecera button{
    color: white;
}

.cabecera button:focus{
    color: black;
}

.nav-tabs .nav-link.active{
    background-color: rgb(104, 103, 103);
    color: black;
}


.d-inline-block{
    position: absolute; 
    right: 0;
}

.btn-secondary dropdown-toggle:hover {
    background-color: black;
    border-color: white;
}

.btn-secondary dropdown-toggle {
    border-color: black;
    padding: 3px 18px; /* Aumenta el relleno si el botón es demasiado pequeño */
}

#dropdownBasic1{
    background-color: black;
    border-color: white;
    color: white;
}

svg{
    margin-bottom: 3px;
}
