body{
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.cabecera{
    background-color: black;
    position: relative; 
}

.cabecera button{
    color: white;
}

.cabecera button:focus{
    color: black;
}

.nav-tabs .nav-link.active{
    background-color: rgb(104, 103, 103);
    color: black;
}

.nav-tabs {
    border-bottom: none;
    margin-bottom: -6px;
  }
  
.d-inline-block{
    position: absolute; 
    right: 0;
}

.btn-secondary dropdown-toggle:hover {
    background-color: black;
    border-color: white;
}

.btn-secondary dropdown-toggle {
    border-color: black;
    padding: 3px 18px; /* Aumenta el relleno si el botón es demasiado pequeño */
}

#dropdownBasic1{
    background-color: black;
    border-color: white;
    color: white;
}

svg{
    margin-bottom: 3px;
}

/* Estilos para el footer */
.footer-basic {
    padding: 40px 0;
    background-color: #f2f2f2; 
    text-align: center;
}


.contenido {
    min-height: calc(90vh - 160px); /* Altura mínima de la ventana menos la altura del footer */
}

.footer-basic ul {
    font-size: 18px;
}

.footer-basic li {
    margin: 0 10px;
}

.footer-basic ul a {
    color: #666; /* Color de enlace gris */
    text-decoration: none;
    
}

.footer-basic .social {
    padding-bottom: 25px;
}

.footer-basic .social > a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: #666; /* Color de icono gris */

}

.footer-basic .copyright {
    margin-top: 15px;
    font-size: 13px;
    color: #999; /* Color de texto gris claro */
    
}

.log{
    background-color: black;
    padding: 5px;
}

.log button:hover{
    background-color: rgb(41, 40, 40);
    color: white;
}

.log button{
    font-size: 15px;
    text-align: center;
}
