<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="cabecera">
    <div class="cuadrado">
      <div class="primero">
        <a href="#" class="inicio">INICIO</a>
      </div>
      <div class="segundo">
        <a href="" class="dietas">DIETAS</a>
      </div>
      <div class="tercero">
        <a href="" class="ejemplos">EJEMPLOS</a>
      </div>
      <div class="cuarto">
        <a href="" class="usuario">USUARIO</a>
      </div>
    </div>
  </div>

  <div class="cuerpo">
    
  </div>

  <div class="pie"> 

  </div>


</body>
</html>