<div class="container">
    <div class="row">
      <h2 >Detalles de {{dieta?.nombre}}</h2>
    </div>
  
  <div class="row" id="nombre">
    <label class="col-md-3" for="nombre">Nombre:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{dieta?.nombre}}</span>
  </div>
  <div class="row" id="descripcion">
    <label class="col-md-3" for="descripcion">Descripción:</label>
    <span class="col-md-9 offset-2 offset-md-0">{{dieta?.descripcion}}</span>
  </div>
    <div class="row" id="observaciones">
        <label class="col-md-3" for="observaciones">Observaciones:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.observaciones}}</span>
    </div>
    <div class="row" id="objetivo">
        <label class="col-md-3" for="objetivo">Objetivo:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.objetivo}}</span>
    </div>
    <div class="row" id="duracionDias">
        <label class="col-md-3" for="duracionDias">Duración en días:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.duracionDias}}</span>
    </div>
    <div class="row" id="alimentos">
        <label class="col-md-3" for="alimentos">Alimentos:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.alimentos}}</span>
    </div>
    <div class="row" id="recomendaciones">
        <label class="col-md-3" for="recomendaciones">Recomendaciones:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.recomendaciones}}</span>
    </div>
    <div class="row" id="id">
        <label class="col-md-3" for="id">Id:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.id}}</span>
    </div>
    <div class="row" id="usuarioId">
        <label class="col-md-3" for="usuarioId">Id de usuario:</label>
        <span class="col-md-9 offset-2 offset-md-0">{{dieta?.usuarioId}}</span>
    </div>
  </div>